.app {
  max-width: 700px;
  margin: 2rem auto;
}
.form {
  display: flex;
  flex-direction: column;
}
.label {
  text-align: left;
}
.input {
  margin-bottom: 1em;
  border-style: none;
  border-bottom: 1px solid #c2c2c2;
  outline: none;
}
.textarea {
  margin-bottom: 1em;
  border: 1px solid #c2c2c2;
  resize: none;
}
.select {
  margin-bottom: 1em;
  border: 1px solid #c2c2c2;
}
.button {
  cursor: pointer;
  background-color: #fff0f0;
  border: 2px solid #b18597;
  padding: 0.75em 2em;
  border-radius: 0.75em;
  color: #382b22;
  font-size: 1rem;
}
.button:hover {
  background-color: #ffe9e9;
}
